@model IEnumerable<Vehicle>

@{
    ViewBag.Title = "List of Cars";
}
<form method="get">
    <div>
        @Html.RadioButton("searchBy", "LicencePlateNumber", true) <b><text>Licence Plate Number</text></b>
        @Html.RadioButton("searchBy", "Model") <b><text>Model</text></b>
        @Html.TextBox("search") <input asp-action="filter" asp-controller="home" type="submit" value="Search" />
    </div>
</form>
<form method="post">
    <div class="card-deck">
        @foreach (var vehicle in Model)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h3>@vehicle.LicencePlateNumber</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="~/images/car.jpg" asp-append-version="true" />
                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="details" asp-route-id="@vehicle.Id" class="btn btn-primary m-1">View</a>
                    <a asp-controller="home" asp-action="edit" asp-route-id="@vehicle.Id" class="btn btn-primary m-1">Edit</a>
                    <a asp-controller="home" asp-action="delete" asp-route-id="@vehicle.Id" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
    </div>
</form>