@model IEnumerable<Vehicle>

@{
    ViewBag.Title = "List of Cars";
}

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Licence Plate Number</th>
            <th>Model Name</th>
            <th>Brand</th>
            <th>Type of fuel</th>
            <th>Color</th>
            <th>Vehicle Equipment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
    {
        <tr>
            <td>@vehicle.Id</td>
            <td>@vehicle.LicencePlateNumber</td>
            <td>@vehicle.ModelName</td>
            <td>@vehicle.Brand</td>
            <td>@vehicle.TypeOfFuel</td>
            <td>@vehicle.Color</td>
            <td>@vehicle.VehicleEquipment</td>

        </tr>
    }
    </tbody>
</table>
